<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198542435704-miobt0vkkni32181lgr050oj42k7aibm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198542435704-miobt0vkkni32181lgr050oj42k7aibm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198542435704-39l9dm9mvasb6u7804kdnbcdg1oss1ra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyo_EUN-2FrkMVZjt3fmf60KIQLMqke9o</string>
	<key>GCM_SENDER_ID</key>
	<string>198542435704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orangeapp.test</string>
	<key>PROJECT_ID</key>
	<string>fir-authsociallogin</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authsociallogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198542435704:ios:33b4c7c65e4d63c197948d</string>
</dict>
</plist>